.home {
  padding: 0 3em;
}

.header {
  font-size: 96px;
  line-height: 115px;
  color: #ffffff;
  margin: 1em 0 0.5em 0;
}

.text {
  color: #d9d9d9;
  font-size: 30px;
  text-align: center;
}
.text span {
  font-weight: 700;
  color: #ffffff;
}
a {
  text-decoration: none;
}

@media (min-width: 1600px) {
  .home {
    padding: 0 4vw;
  }

  .header {
    margin: 2vw 0;
    font-size: 7vw;
    line-height: 8vw;
  }

  .text {
    font-size: 2vw;
    line-height: 4vw;
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 76px;
  }
}

@media (max-width: 660px) {
  .header {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  .text {
    font-size: 23px;
  }
  .header {
    font-size: 39px;
    line-height: 65px;
  }
}
